@model FinalProject.DTO.CandidateDTO
@using FinalProject.Models

@section title{

    Candidate - @ViewBag.DataView["title"]

}

@section content{

<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-personal_information" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-education_information" role="tab" aria-controls="nav-profile" aria-selected="false">Education Information</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-skill" role="tab" aria-controls="nav-contact" aria-selected="false">Skill</a>
        </div>
    </nav>
    <form method="post" action="~/candidate/preselection/create/candidate/process" enctype="multipart/form-data">
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-personal_information" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="CandidateName">Full Name</label>
                            @Html.TextBoxFor(m => m.CANDIDATE_NAME, new { @class = "form-control", @id = "CandidateName" })
                        </div>

                        <div class="form-group">
                            <label for="CandidateName">Gender</label>
                            <select class="form-control" id="GENDER" name="GENDER_ID">
                                @foreach (var d in new DBEntities().TB_GENDER)
                                {
                                    <option value="@d.GENDER_ID">@d.GENDER_NAME</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="CANDIDATE_PLACE_BIRTH">Place Of Birth</label>
                            @Html.TextBoxFor(m => m.CANDIDATE_PLACE_BIRTH, new { @class = "form-control", @id = "CANDIDATE_PLACE_BIRTH" })
                        </div>

                        <div class="form-group">
                            <label for="CANDIDATE_PLACE_BIRTH">BIRTH DATE</label>
                            <input type="date" class="form-control" id="CANDIDATE_BIRTH_DATE" name="CANDIDATE_BIRTH_DATE" />
                        </div>

                        <div class="form-group">
                            <label for="GENDER_ID">Religion</label>
                            <select class="form-control" id="RELIGION_ID" name="RELIGION_ID">
                                @foreach (var d in new DBEntities().TB_RELIGION)
                                {
                                    <option value="@d.RELIGION_ID">@d.RELIGION_NAME</option>
                                }
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="file_pict">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file_pict" aria-describedby="file_pict" name="Pict" accept="image/*">
                                <label class="custom-file-label" for="file_pict">Choose file picture</label>
                            </div>
                        </div>

                    </div>

                    @*mid side form*@
                    <div class="col-sm">

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CANDIDATE_CURRENT_ADDRESS">Address</label>
                                @Html.TextAreaFor(m => m.CANDIDATE_CURRENT_ADDRESS, new { @class = "form-control", @id = "CANDIDATE_CURRENT_ADDRESS" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="PARENT_ADDRESS">Parent Address</label>
                                @Html.TextAreaFor(m => m.PARENT_ADDRESS, new { @class = "form-control", @id = "PARENT_ADDRESS" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="TELEPHONE_NUMBER">Telephone Number</label>
                                @Html.TextBoxFor(m => m.TELEPHONE_NUMBER, new { @class = "form-control", @id = "TELEPHONE_NUMBER" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CANDIDATE_EMAIL">Email</label>
                                @Html.TextBoxFor(m => m.CANDIDATE_EMAIL, new { @class = "form-control", @id = "CANDIDATE_EMAIL" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CANDIDATE_PHONENUMBER">Phone Number</label>
                                @Html.TextBoxFor(m => m.CANDIDATE_PHONENUMBER, new { @class = "form-control", @id = "CANDIDATE_PHONENUMBER" })
                            </div>
                        </div>


                        <div class="col-sm">
                            <div class="form-group">
                                <label for="RESIDENT_CARD_NUMBER">Resident Card Number</label>
                                @Html.TextBoxFor(m => m.RESIDENT_CARD_NUMBER, new { @class = "form-control", @id = "RESIDENT_CARD_NUMBER" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="ZIP_CODE">Zip Code</label>
                                @Html.TextBoxFor(m => m.ZIP_CODE, new { @class = "form-control", @id = "ZIP_CODE" })
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="file_cv">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file_cv" aria-describedby="file_pict" name="Cv">
                                <label class="custom-file-label" for="file_cv">Choose file Cv</label>
                            </div>
                        </div>

                    </div>

                    @*Right Side*@
                    <div class="col-sm">

                        <div class="form-group">
                            <label for="GENDER_ID">MARITAL_STATUS_ID</label>
                            <select class="form-control" id="MARITAL_STATUS_ID" name="MARITAL_STATUS_ID">
                                @foreach (var d in new DBEntities().TB_MARITALSTATUS)
                                {
                                    <option value="@d.MARITALSTATUS_ID">@d.MARITALSTATUS_NAME</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="POSITION">POSITION</label>
                            <select class="form-control" id="POSITION" name="POSITION">
                                @foreach (var d in new DBEntities().TB_JOB_POSITION)
                                {
                                    <option value="@d.JOBPOSITION_NAME">@d.JOBPOSITION_NAME</option>
                                }
                            </select>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="RECOMENDATION">Recomendation</label>
                                @Html.TextBoxFor(m => m.RECOMENDATION, new { @class = "form-control", @id = "RECOMENDATION" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="SOURCE">Religion</label>
                            <select class="form-control" id="SOURCE" name="SOURCE">
                                @foreach (var d in new DBEntities().JOB_PORTAL)
                                {
                                    <option value="@d.JOBPORTAL_NAME">@d.JOBPORTAL_NAME</option>
                                }
                            </select>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CANDDIATE_NPWP_NUMBER">NPWP</label>
                                @Html.TextBoxFor(m => m.CANDDIATE_NPWP_NUMBER, new { @class = "form-control", @id = "CANDDIATE_NPWP_NUMBER" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AVAILABLE_JOIN">Available Join</label>
                            <input type="date" class="form-control" id="AVAILABLE_JOIN" name="AVAILABLE_JOIN" />
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="EXPECTED_sALARY">Excpected Salary</label>
                                @Html.TextBoxFor(m => m.EXPECTED_sALARY, new { @class = "form-control", @id = "EXPECTED_sALARY" })
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label for="NOTES">NOTES</label>
                                @Html.TextAreaFor(m => m.NOTES, new { @class = "form-control", @id = "NOTES" })
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            @*-------------------------------------Education Information----------------------------------------------------------------------------*@
            <div class="tab-pane fade" id="nav-education_information" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_LAST_EDUCATON">Universitas/School</label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_LAST_EDUCATON, new { @class = "form-control", @id = "CANDIDATE_LAST_EDUCATON" })
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_DEGREE">Degree</label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_DEGREE, new { @class = "form-control", @id = "CANDIDATE_DEGREE" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="EDUCATION_START_DATE">Start Date</label>
                                @Html.TextBoxFor(m => m.EDUCATON_START_DATE, new { type = "date", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm">

                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_MAJOR">Major</label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_MAJOR, new { @class = "form-control", @id = "CANDIDATE_MAJOR" })
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_GPA">GPA</label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_GPA, new { @class = "form-control", @id = "CANDIDATE_GPA" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="EDUCATION_END_DATE">End Date</label>
                                @Html.TextBoxFor(m => m.EDUCATON_END_DATE,new {type = "date", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

               

            </div>

            <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-contact-tab">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">Skill Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int no = 1;}
                        @foreach (var d in new DBEntities().TB_SKILL)
                        {
                            <tr>
                                <th scope="row">@(no++)</th>
                                <td>@d.SKILL_NAME</td>
                                <td>
                                    <input type="checkbox" class="form-control" value="@d.SKILL_NAME" name="CANDIDATE_SKILL" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

}