﻿﻿@model FinalProject.DTO.CandidateDTO
@using FinalProject.Models
@section title{
    Candidate - @ViewBag.DataView["title"]
}
@section content{
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <h2><center>Candidate      |      Add Candidate</center></h2>

    @Html.ValidationSummary()
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-personal_information" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-education_information" role="tab" aria-controls="nav-profile" aria-selected="false">Education Information</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-skill" role="tab" aria-controls="nav-contact" aria-selected="false">Skill</a>
            </div>
        </nav>
        <form method="post" action="~/candidate/praselection/create/candidate/process" enctype="multipart/form-data">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-personal_information" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CandidateName">Full Name<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_NAME, new { @class = "form-control", @id = "CandidateName" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_NAME, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CandidateName">Gender<font color="red">*</font></label>
                                <select class="form-control" id="GENDER" name="GENDER_ID">
                                    @foreach (var d in new DBEntities().TB_GENDER)
                                    {
                                        <option value="@d.GENDER_ID">@d.GENDER_NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_PLACE_BIRTH">Place Of Birth<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_PLACE_BIRTH, new { @class = "form-control", @id = "CANDIDATE_PLACE_BIRTH" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_PLACE_BIRTH, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_PLACE_BIRTH">Birth Date<font color="red">*</font></label>
                                <input type="date" class="form-control" id="CANDIDATE_BIRTH_DATE" name="CANDIDATE_BIRTH_DATE" />
                                @Html.ValidationMessageFor(m => m.CANDIDATE_BIRTH_DATE, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_CITY">City<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_CITY, new { @class = "form-control", @id = "CANDIDATE_CITY" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_CITY, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_PROVINCE">Province<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_PROVINCE, new { @class = "form-control", @id = "CANDIDATE_PROVINCE" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_PROVINCE, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="GENDER_ID">Religion</label>
                                <select class="form-control" id="RELIGION_ID" name="RELIGION_ID">
                                    @foreach (var d in new DBEntities().TB_RELIGION)
                                    {
                                        <option value="@d.RELIGION_ID">@d.RELIGION_NAME</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(m => m.RELIGION, null, new { @class = "text-danger" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="file_pict">Upload<font color="red">*</font></span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file_pict" aria-describedby="file_pict" name="Pict" accept="image/*" onchange="loadFile(event)">
                                    <label class="custom-file-label" for="file_pict">Choose file picture</label>
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.CANDIDATE_PHOTO, "Don't Forget to Insert a Photo", new { @class = "text-danger" })
                                <img id="output" width="300" />
                            </div>

                        </div>
                        @*mid side form*@
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="CANDIDATE_CURRENT_ADDRESS">Address<font color="red">*</font></label>
                                @Html.TextAreaFor(m => m.CANDIDATE_CURRENT_ADDRESS, new { @class = "form-control", @id = "CANDIDATE_CURRENT_ADDRESS" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_CURRENT_ADDRESS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="PARENT_ADDRESS">Parent Address</label>
                                @Html.TextAreaFor(m => m.PARENT_ADDRESS, new { @class = "form-control", @id = "PARENT_ADDRESS" })
                                @Html.ValidationMessageFor(m => m.PARENT_ADDRESS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="TELEPHONE_NUMBER">Telephone Number</label>
                                @Html.TextBoxFor(m => m.TELEPHONE_NUMBER, new { @class = "form-control", @id = "TELEPHONE_NUMBER" })
                                @Html.ValidationMessageFor(m => m.TELEPHONE_NUMBER, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_EMAIL">Email<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_EMAIL, new { @class = "form-control", @id = "CANDIDATE_EMAIL" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_EMAIL, "Insert Email With The Correct Type of Email", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDIDATE_PHONENUMBER">Phone Number<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_PHONENUMBER, new { @class = "form-control", @id = "CANDIDATE_PHONENUMBER" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_PHONENUMBER, "Maximum of number is 14", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="RESIDENT_CARD_NUMBER">KTP Card Number<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.CANDIDATE_KTP_NUMBER, new { @class = "form-control", @id = "CANDIDATE_KTP_NUMBER" })
                                @Html.ValidationMessageFor(m => m.CANDIDATE_KTP_NUMBER, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="ZIP_CODE">Zip Code<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.ZIP_CODE, new { @class = "form-control", @id = "ZIP_CODE" })
                                @Html.ValidationMessageFor(m => m.ZIP_CODE, null, new { @class = "text-danger" })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="file_cv">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file_cv" aria-describedby="file_pict" name="Cv">
                                    <label class="custom-file-label" for="file_cv">Choose file Cv</label>
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.CANDIDATE_CV, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Right Side*@
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="GENDER_ID">Marital Status<font color="red">*</font></label>
                                <select class="form-control" id="MARITAL_STATUS_ID" name="MARITAL_STATUS_ID">
                                    @foreach (var d in new DBEntities().TB_MARITALSTATUS)
                                    {
                                        <option value="@d.MARITALSTATUS_ID">@d.MARITALSTATUS_NAME</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(m => m.MARITAL_STATUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="POSITION">Position<font color="red">*</font></label>
                                <select class="form-control" id="POSITION" name="POSITION">
                                    @foreach (var d in new DBEntities().TB_JOB_POSITION)
                                    {
                                        <option value="@d.JOBPOSITION_NAME">@d.JOBPOSITION_NAME</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(m => m.POSITION, null, new { @class = "text-danger" })
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="RECOMENDATION">Recomendation</label>
                                    @Html.TextBoxFor(m => m.RECOMENDATION, new { @class = "form-control", @id = "RECOMENDATION" })
                                </div>
                                @Html.ValidationMessageFor(m => m.RECOMENDATION, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="SOURCE">Job Portal</label>
                                <select class="form-control" id="SOURCE" name="SOURCE">
                                    @foreach (var d in new DBEntities().JOB_PORTAL)
                                    {
                                        <option value="@d.JOBPORTAL_NAME">@d.JOBPORTAL_NAME</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(m => m.SOURCE, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="CANDDIATE_NPWP_NUMBER">NPWP</label>
                                @Html.TextBoxFor(m => m.CANDDIATE_NPWP_NUMBER, new { @class = "form-control", @id = "CANDDIATE_NPWP_NUMBER" })
                                @Html.ValidationMessageFor(m => m.CANDDIATE_NPWP_NUMBER, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="AVAILABLE_JOIN">Available Join</label>
                                <input type="date" class="form-control" id="AVAILABLE_JOIN" name="AVAILABLE_JOIN" />
                                @Html.ValidationMessageFor(m => m.AVAILABLE_JOIN, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="EXPECTED_sALARY">Expected Salary<font color="red">*</font></label>
                                @Html.TextBoxFor(m => m.EXPECTED_sALARY, new { @class = "form-control", @id = "EXPECTED_sALARY" })
                                @Html.ValidationMessageFor(m => m.EXPECTED_sALARY, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="NOTES">Notes</label>
                                @Html.TextAreaFor(m => m.NOTES, new { @class = "form-control", @id = "NOTES" })
                                @Html.ValidationMessageFor(m => m.NOTES, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                @*-------------------------------------Education Information----------------------------------------------------------------------------*@
                <div class="tab-pane fade" id="nav-education_information" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_LAST_EDUCATON">Universitas/School<font color="red">*</font></label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_LAST_EDUCATON, new { @class = "form-control", @id = "CANDIDATE_LAST_EDUCATON" })
                                    @Html.ValidationMessageFor(m => m.CANDIDATE_LAST_EDUCATON, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="CANDIDATE_DEGREE">Degree<font color="red">*</font></label>
                                    <select id="CANDIDATE_DEGREE" class="form-control" name="CANDIDATE_DEGREE" >
                                        <option value="High School">High School</option>
                                        <option value="Diploma">Diploma</option>
                                        <option value="Bachelor">Bachelor</option>
                                        <option value="Master">Magister</option>
                                        <option value="Doctor">Doctor</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.CANDIDATE_DEGREE, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="EDUCATION_START_DATE">Start Date<font color="red">*</font></label>
                                    @Html.TextBoxFor(m => m.EDUCATON_START_DATE, new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EDUCATON_START_DATE, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="CANDIDATE_MAJOR">Major<font color="red">*</font></label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_MAJOR, new { @class = "form-control", @id = "CANDIDATE_MAJOR" })
                                    @Html.ValidationMessageFor(m => m.CANDIDATE_MAJOR, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="CANDIDATE_GPA">GPA<font color="red">*</font></label>
                                    @Html.TextBoxFor(m => m.CANDIDATE_GPA, new { @class = "form-control", @id = "CANDIDATE_GPA" })
                                    @Html.ValidationMessageFor(m => m.CANDIDATE_GPA, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="EDUCATION_END_DATE">End Date<font color="red">*</font></label>
                                    @Html.TextBoxFor(m => m.EDUCATON_END_DATE, new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EDUCATON_END_DATE, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">NO</th>
                                <th scope="col">Skill Name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int no = 1;}
                            @foreach (var d in new DBEntities().TB_SKILL)
                            {
                                <tr>
                                    <th scope="row">@(no++)</th>
                                    <td>@d.SKILL_NAME</td>
                                    <td>
                                        <input type="checkbox" class="form-control" value="@d.SKILL_NAME" name="CANDIDATE_SKILL" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                alert('The file "' + fileName + '" has been selected.');
            });
        });
    </script>
}