@model FinalProject.DTO.CandidateJobExperienceDTO

@section title{
    @ViewBag.DataView["title"]
}

@section content{

    @Html.ValidationSummary()

    <h2><center> Edit Experience </center></h2>
    <hr class="bg-dark" />
    @if (TempData.Peek("message") != null)
    {
        <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form method="post" action="~/candidate/praselection/update/jobExp/process">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="CANDIDATE_ID" value="@Model.CANDIDATE_ID" />
        <div class="form-row">
            <div class="col-lg-6 col-md-6 col-sm-12 col">
                <div class="form-group ml-3">
                    <label class="title control-label">Company Name</label>
                    <input type="text" value="@Model.COMPANY_NAME" class="form-control" name="COMPANY_NAME" />
                    @Html.ValidationMessageFor(m => m.COMPANY_NAME, null, new { @class = "text-danger" })
                </div>
                <div class="form-group ml-3">
                    <label class="title control-label">Industry</label>
                    <input type="text" value="@Model.INDUSTRIES" class="form-control" name="INDUSTRIES" />
                    @Html.ValidationMessageFor(m => m.INDUSTRIES, null, new { @class = "text-danger" })
                </div>
                <div class="form-group ml-3">
                    <label class="title control-label">Potition</label>
                    <input type="text" value="@Model.CANDIDATE_POSITION" class="form-control" name="CANDIDATE_POSITION" />
                    @Html.ValidationMessageFor(m => m.CANDIDATE_POSITION, null, new { @class = "text-danger" })
                </div>
                <div class="form-group ml-3">
                    <label class="title control-label">Job Desc</label>
                    <textarea class="form-control" value="@Model.JOBDESC" name="JOBDESC">@Model.JOBDESC</textarea>
                    @Html.ValidationMessageFor(m => m.JOBDESC, null, new { @class = "text-danger" })
                </div>
                <div class="form-group ml-3">
                    <label class="title control-label">Skill</label>
                    <textarea class="form-control" @Model.SKILL_NAME name="SKILL_NAME">@Model.SKILL_NAME</textarea>
                    @Html.ValidationMessageFor(m => m.SKILL_NAME, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col">
                <div class="form-group">
                    <label class="title control-label">Start Date</label>
                    <input type="datetime" value="@Convert.ToDateTime(Model.START_DATE).ToString("dd-mm-yyyy")" class="form-control" name="START_DATE" />
                    @Html.ValidationMessageFor(m => m.START_DATE, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="title control-label">End Date</label>
                    <input type="datetime" value="@Convert.ToDateTime(Model.END_DATE).ToString("dd-mm-yyyy")" class="form-control" name="END_DATE" />
                    @Html.ValidationMessageFor(m => m.END_DATE, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="title control-label">Salary</label>
                    <input type="text" value="@Model.CURRENT_SALARY" class="form-control" name="CURRENT_SALARY" />
                </div>
                <div class="form-group">
                    <label class="title control-label">Project</label>
                    <textarea class="form-control" value="@Model.PROJECT" name="PROJECT">@Model.PROJECT</textarea>
                </div>
                <div class="form-group">
                    <label class="title control-label">Benefit</label>
                    <textarea class="form-control" value="@Model.BENEFIT" name="BENEFIT">@Model.BENEFIT</textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success float-right mb-2" value="Edit Experience" />
                </div>
            </div>
        </div>
    </form>
    <form action="~/candidate/praselection/read/detailcandidate/@Model.CANDIDATE_ID">
        <input type="submit" class="btn btn-danger float-right mb-2" value="Cancel" />
    </form>
}