@model IEnumerable<FinalProject.DTO.CandidateSelectionHistoryDTO>
@using FinalProject.DTO
@section title{

    Candidate - @ViewBag.DataView["title"]

}

@*###################################### In Index view is showing data from tb_candidate ########################################*@
@section content{
<div class="container">

    <!-- Alert -->
    @if (TempData.Peek("message") != null)
    {
        <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <!-- Search form -->
    <a class="btn btn-primary" href="~/candidate/preselection/create/candidate">Add New Candidate</a>
    <form class="form-inline md-form form-sm mt-4" action="~/candidate/preselection" id="FormFilter" method="post">
        <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search" aria-label="Search" value="" name="Keyword">
        <i class="fas fa-search mr-3" aria-hidden="true"></i>
        <select class="form-control form-control-sm mr-3 float-right" name="POSITION" id="ListPosition">
            <option value="all">All</option>
            @foreach (var pos in ViewBag.DataView["ListPosition"])
            {
                <option value="@pos.JOBPOSITION_NAME">@pos.JOBPOSITION_NAME</option>
            }
        </select>
        <select class="form-control form-control-sm mr-3 float-right" name="CANDIDATE_STATE" id="ListState">
            <option value="0">All</option>
            @foreach (var st in ViewBag.DataView["ListState"])
            {
                <option value="@st.ID">@st.STATE_NAME</option>
            }
        </select>
        <input type="submit" class="btn btn-primary mr-3 float-right" value="Filter" name="filter" />
    </form>
    <table class="table table-striped mt-4">
        <thead class="table-primary">
            <tr class="">
                <th scope="col">Name</th>
                <th scope="col">Applied Potition</th>
                <th scope="col">Suitable Potition</th>
                <th scope="col">Source</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">PIC</th>
                <th scope="col">Sourcing Date</th>
                <th scope="col">State</th>
                <th scope="col">Notes</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var candidate in Model)*@
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.CANDIDATE_NAME</td>
                    <td>@data.CANDIDATE_APPLIED_POSITION</td>
                    <td>@data.CANDIDATE_SUITABLE_POSITION</td>
                    <td>@data.CANDIDATE_SOURCE</td>
                    <td>@data.CANDIDATE_PHONE</td>
                    <td>@data.CANDIDATE_EMAIL</td>
                    <td>@data.PIC_FULL_NAME</td>
                    <td>@data.CANDIDATE_SOURCING_DATE</td>
                    <td>@data.CANDIDATE_STATE_NAME</td>
                    <td>@data.NOTES</td>
                    <td>
                        <a class="" href=""><i class="fas fa-edit"></i></a>
                        <a class="ml-3" href=""><i class="fas fa-search-plus"></i></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <form class="form-inline md-form form-sm mt-3 float-left">
        <input type="button" class="btn btn-primary" name="" value="<<" />
        <input type="button" class="btn btn-primary ml-3" name="" value="<" />
        <input type="button" class="btn btn-primary ml-3" name="" value=">" />
        <input type="button" class="btn btn-primary ml-3" name="" value=">>" />
    </form>
</div>
}