@model IEnumerable<FinalProject.DTO.ClientDTO>
@using FinalProject.DTO
@section title{

    @ViewBag.DataView["title"]

}
@section content{

    <div class="container">
        <!-- Button trigger modal add client-->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#AddClient">
            Add Client
        </button>

        @if (TempData.Peek("message") != null)
        {
            <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
                @TempData["message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Client Name</th>
                    <th scope="col">Client Address</th>
                    <th scope="col">Client Other Address</th>
                    <th scope="col">Client Industries</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                <tr>
                    <td>@client.CLIENT_NAME</td>
                    <td>@client.CLIENT_ADDRESS</td>
                    <td>@client.CLIENT_OTHERADDRESS</td>
                    <td>@client.CLIENT_INDUSTRIES</td>
                    <td>
                        <button type="button" class="btn btn-edit" data-toggle="modal" data-target="#EditClient"
                                data-client_id="@client.ID"
                                data-client_name="@client.CLIENT_NAME"
                                data-client_address="@client.CLIENT_ADDRESS"
                                data-client_other_address="@client.CLIENT_OTHERADDRESS"
                                data-client_industries="@client.CLIENT_INDUSTRIES">
                            <i class="fas fa-pencil-alt m-3"></i>
                        </button>

                        <a onclick="return confirm('Are you sure to delete this client ?')" href="~/master/client/delete/@client.ID"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>


    <!-- Modal add Client -->
    <div class="modal fade" id="AddClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Add New Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="~/master/client/add" method="post">
                        <div class="form-group">
                            <label for="name">Client Name</label>
                            <input type="text" class="form-control" id="name" name="CLIENT_NAME">
                        </div>
                        <div class="form-group">
                            <label for="address">Client Address</label>
                            <textarea class="form-control" name="CLIENT_ADDRESS" id="address"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="otheraddress">Client OtherAddress</label>
                            <textarea class="form-control" id="otheraddress" name="CLIENT_OTHERADDRESS"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="industries">Client Industries</label>
                            <input type="text" class="form-control" id="industries" name="CLIENT_INDUSTRIES">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit Client -->
    <div class="modal fade" id="EditClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="~/master/client/edit" method="post">
                        <input type="hidden" name="ID" id="EditId"/>
                        <div class="form-group">
                            <label for="name">Client Name</label>
                            <input type="text" class="form-control" id="EditName" name="CLIENT_NAME">
                        </div>
                        <div class="form-group">
                            <label for="address">Client Address</label>
                            <textarea class="form-control" name="CLIENT_ADDRESS" id="EditAddress"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="otheraddress">Client OtherAddress</label>
                            <textarea class="form-control" id="EditOtherAddress" name="CLIENT_OTHERADDRESS"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="industries">Client Industries</label>
                            <input type="text" class="form-control" id="EditIndustries" name="CLIENT_INDUSTRIES">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Assets/Js/master/Client/EditClient.js"></script>
}