﻿@model IEnumerable<FinalProject.DTO.CandidateSelectionHistoryDTO>
@using FinalProject.Utils
@section title{
    @ViewBag.DataView["title"]
}
@section content{

    <!-- Alert -->
    @if (TempData.Peek("message") != null)
    {
        <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <!-- Modal Detail -->
    <div class="modal fade" id="Modaldetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title"><b>Details</b></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expected Salary</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Available to Join</label>
                        <input type="text" class="form-control" id="exampleInputEmail2" value="" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Benefit</label>
                        <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail4">Email</label>
                        <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                    </div>
                    <strong>Skills Set</strong><br />
                    <ul style="padding-left: 1.2em"></ul>
                    <label>Job Experiences</label>
                    <div class="form-group">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>





    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" align="center" id="nav-home-tab" data-toggle="tab" href="#nav-call" role="tab" aria-controls="nav-home" aria-selected="true">List Candidate</a>
                <a class="nav-brand nav-link" align="center" id="nav-profile-tab" href="~/candidate/call/read/called" role="tab" aria-selected="false">List Called Candidate</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active col mt-3" id="nav-call" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container">
                    <!-- Search form -->
    <form class="form-inline md-form form-sm mt-4" action="~/candidate/call" id="FormFilter" method="post">
        <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search" aria-label="Search" value="" name="Keyword">
        <i class="fas fa-search mr-3" aria-hidden="true"></i>
        <select class="form-control form-control-sm mr-3 float-right" name="POSITION" id="ListPosition">
            <option value="all">All</option>
            @foreach (var pos in ViewBag.DataView["ListPosition"])
            {
                <option value="@pos.JOBPOSITION_NAME">@pos.JOBPOSITION_NAME</option>
            }
        </select>
        <select class="form-control form-control-sm mr-3 float-right" name="CANDIDATE_STATE" id="ListState">
            <option value="0">All</option>
            @foreach (var st in ViewBag.DataView["ListState"])
            {
                <option value="@st.ID">@st.STATE_NAME</option>
            }
        </select>
        <input type="submit" class="btn btn-primary mr-3 float-right" value="Filter" name="filter" />
    </form>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Applied Potition</th>
                                <th scope="col">Suitable Potition</th>
                                <th scope="col">Source</th>
                                <th scope="col">Number Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Caller PIC</th>
                                <th scope="col">Sourcing Date</th>
                                <th scope="col">State</th>
                                <th scope="col">Preselection Notes</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var candidate in Model)
                            {
                            <tr>
                                <td>@candidate.CANDIDATE_NAME</td>
                                <td>@candidate.CANDIDATE_APPLIED_POSITION</td>
                                <td>@candidate.CANDIDATE_SUITABLE_POSITION</td>
                                <td>@candidate.CANDIDATE_SOURCE</td>
                                <td>@candidate.CANDIDATE_PHONE</td>
                                <td>@candidate.CANDIDATE_EMAIL</td>
                                <td>@candidate.PIC_FULL_NAME</td>
                                <td>@candidate.CANDIDATE_SOURCING_DATE</td>
                                <td>@candidate.CANDIDATE_STATE_NAME</td>
                                <td>@candidate.NOTES</td>
                                <td>
                                    <a class="btn btn-success" href="~/candidate/preselection/read/detailcandidate/@candidate.CANDIDATE_ID">Details</a>
                                </td>
                                <td>
                                    <a href="~/candidate/call/update/next/@candidate.CANDIDATE_ID" class="btn btn-primary input-sm @MenuUtils.CheckButtonAcc(2,14)">Next</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <input type="button" class="btn btn-primary mb-3" name="" value="<<" />
                    <input type="button" class="btn btn-primary ml-3 mb-3" name="" value="<" />
                    <input type="button" class="btn btn-primary ml-3 mb-3" name="" value=">" />
                    <input type="button" class="btn btn-primary ml-3 mb-3" name="" value=">>" />
                </div>
            </div>
    </div>
}
