@model IEnumerable<FinalProject.DTO.SkillDTO>
@using FinalProject.DTO
@section title{

    @ViewBag.DataView["title"]

}
@section content{

    <div class="container">
        <!-- Button trigger modal add client-->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#AddSkill">
            Add New Skill
        </button>

        @if (TempData.Peek("message") != null)
        {
            <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
                @TempData["message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Skill</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Skill in Model)
                {
                    <tr>
                        <td>@Skill.SKILL_NAME</td>
                        <td>
                            <button type="button" class="btn btn-edit" data-toggle="modal" data-target="#EditSkill"
                                    data-skill_id="@Skill.SKILL_ID"
                                    data-skill_name="@Skill.SKILL_NAME">
                                <i class="fas fa-pencil-alt m-3"></i>
                            </button>

                            <a onclick="return confirm('Are you sure to delete this Skill ?')" href="~/master/skillmanagement/delete/@Skill.SKILL_ID"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <!-- Modal add Skill -->
    <div class="modal fade" id="AddSkill" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Add New Skill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="~/master/skillmanagement/add" method="post">
                        <div class="form-group">
                            <label for="SKILL_NAME">Skill Name</label>
                            <input type="text" class="form-control" id="SKILL_NAME" name="SKILL_NAME">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit Skill -->
    <div class="modal fade" id="EditSkill" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Skill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="~/master/skillmanagement/edit" method="post">
                        <input type="hidden" id="Edit_SKILL_ID" name="SKILL_ID" />
                        <div class="form-group">
                            <label for="SKILL_NAME">Skill Name</label>
                            <input type="text" class="form-control" id="Edit_SKILL_NAME" name="SKILL_NAME">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Assets/Js/master/SkillManagement/EditSkill.js"></script>
}