﻿﻿@model IEnumerable<FinalProject.DTO.CandidateSelectionHistoryDTO>
@using FinalProject.Utils
@using FinalProject.DTO
@section title{
    @ViewBag.DataView["title"]
}
@section content{

    <!-- Checking User -->
    @{UserDTO DataUserLogin = (UserDTO)Context.Session["UserLogin"];
    }
        <!-- Alert -->
        <h2 class="text-center">Candidate | Delivery</h2>
        <hr class="bg-blue" />
        @if (TempData["message"] != null)
        {
            <div class="alert alert-@TempData["type"] alert-dismissible fade show " role="alert">
                @TempData["message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <!-- Modal Detail -->
        <div class="modal fade" id="Modaldetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title"><b>Details</b></h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Expected Salary</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Available to Join</label>
                            <input type="text" class="form-control" id="exampleInputEmail2" value="" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Benefit</label>
                            <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail4">Email</label>
                            <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                        </div>
                        <strong>Skills Set</strong><br />
                        <ul style="padding-left: 1.2em"></ul>
                        <label>Job Experiences</label>
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" align="center" id="nav-home-tab" data-toggle="tab" href="~/candidate/delivery" role="tab" aria-controls="nav-home" aria-selected="true">List Candidate Delivery</a>
                    <a class="nav-brand nav-link" align="center" id="nav-profile-tab" href="~/candidate/delivery/read/suggest" role="tab" aria-selected="false">List Suggest Candidate</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active col mt-3" id="nav-call" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="">
                        <!-- Search form -->
                        <form class="form-inline md-form form-sm mt-4" action="~/candidate/delivery/read" id="FormFilter" method="post">
                            <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search" aria-label="Search" value="" name="Keyword">
                            <i class="fas fa-search mr-3" aria-hidden="true"></i>
                            <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Data Per Page" aria-label="Search" value="" name="DataPerPage">
                            <input type="submit" class="btn btn-primary mr-3 float-right" value="Filter" name="filter" />
                        </form>
                        <table class="table table-striped table-bordered table-lg table-responsive mt-4">
                            <thead class="table-primary text-center">
                                <tr class=text-center>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Applied Position</th>
                                    <th scope="col">Suitable Position</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">Number Phone</th>
                                    <th scope="col">Expected</th>
                                    <th scope="col">Interview PIC</th>
                                    <th scope="col">Sourcing Date</th>
                                    <th scope="col">Interview Date</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Interview Notes</th>
                                    <th scope="col" colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var candidate in Model)
                                {
                                    <tr>
                                        <td>@candidate.CANDIDATE_NAME</td>
                                        <td>@candidate.CANDIDATE_APPLIED_POSITION</td>
                                        <td>@candidate.CANDIDATE_SUITABLE_POSITION</td>
                                        <td>@candidate.CANDIDATE_SOURCE</td>
                                        <td>@candidate.CANDIDATE_PHONE</td>
                                        <td>@(String.Format("{0:C}", candidate.CANDIDATE_EXPECTED_SALARY))</td>
                                        <td>@candidate.PIC_FULL_NAME</td>
                                        <td>@Html.Encode(string.Format("{0:dd/MM/yyyy}", candidate.CANDIDATE_SOURCING_DATE))</td>
                                        <td>@Html.Encode(string.Format("{0:dddd, dd/MM/yyyy HH:mm}", candidate.CANDIDATE_INTERVIEW_DATE))</td>
                                        <td>@candidate.CANDIDATE_STATE_NAME</td>
                                        <td>@candidate.NOTES</td>
                                        <td>
                                            <a class="btn btn-success" href="~/candidate/praselection/read/detailcandidate/@candidate.CANDIDATE_ID">Details</a>
                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btn_next @(DataUserLogin.ROLE_NAME == "Sales" ? "invisible" : MenuUtils.CheckButtonAcc(2,17))" data-toggle="modal" data-target="#NextModal"
                                                    data-candidate_id="@candidate.CANDIDATE_ID"
                                                    data-suggestion_date="@candidate.PROCESS_DATE">
                                                Next
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- Check Link for Pagination Active-->

                        @{ int length = Request.Url.ToString().Split('/').Length;}
                        <hr class="bg-blue" />
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @for (int i = 1; i <= Convert.ToInt16(ViewBag.DataView["PageCount"]); i++)
                                {
                                    if (length <= 7)
                                    {
                                        if (i == 1)
                                        {
                                            <li class="page-item active"><a class="page-link " href="~/candidate/delivery/read/@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" href="~/candidate/delivery/read/@i">@i</a></li>
                                        }


                                    }
                                    else
                                    {
                                        if (Convert.ToInt16(Request.Url.ToString().Split('/').Last()) == i)
                                        {
                                            <li class="page-item active"><a class="page-link" href="~/candidate/delivery/read/@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" href="~/candidate/delivery/read/@i">@i</a></li>
                                        }
                                    }

                                }

                            </ul>

                        </nav>
                        <!--End Pagination Mank-->
                    </div>
                </div>
            </div>
            <!-- Modal Next -->
            <div class="modal fade" id="NextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="~/candidate/delivery/create/next" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="CANDIDATE_ID" id="CANDIDATE_ID" />
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Client Company</label>
                                    <select class="form-control" id="CLIENT_ID" name="CLIENT_ID">
                                        @foreach (var client in Manage_ClientDTO.GetData())
                                        {
                                            <option value="@client.ID">@client.CLIENT_NAME</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="DeliveryId">Id Delivery</label>
                                    <input type="text" class="form-control" id="DeliveryId" value="DEL@(DateTime.Now.ToString("ffff"))" name="DELIVERY_ID">
                                </div>
                                <div class="form-group">
                                    <label for="DeliveryId">Suggestion Date<font color="red">*</font></label>
                                    <input type="text" class="form-control" id="SuggestionDate" value="">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Note</label>
                                    <textarea class="form-control" id="NOTE" rows="3" name="NOTE"></textarea>
                                </div>
                                <button type="submit" name="send" class="btn btn-success">Save changes</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Content/Assets/Js/candidate/delivery/Delivery.js"></script>
            }
